[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=EmuMaster
Exec=/usr/bin/single-instance /opt/emumaster/bin/diskgallery
Icon=/opt/emumaster/data/diskgallery.png
Categories=Game;Emulator;
